<p>Dear All</p>
<p>Terlampir Minutes of Meeting (MOM) hasil dari meeting pada hari {{day}}, tanggal {{datetime}}, di {{place}} antara tim Thinkmatch dan tim {{client}}.
  </p><p> Demikian informasi ini kami sampaikan. Terima kasih.</p>
<p>Salam,</p>
<br>
<br>
<p><u> {{sender}}</u></p>
<p><b>PROJECT MANAGER</b> </p>
